wheel==0.36.2
setuptools==56.2.0
pytest==6.2.4
pytest-cov==2.11.1
pyspark==3.1.1
attrs==21.2.0
coverage==5.5
dbx==0.1.2
flake8==3.9.2
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.20.2
pandas==1.2.4
packaging==20.9
patsy==0.5.1
pluggy==0.13.1
pmdarima==1.8.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pymannkendall==1.4.1
pyparsing==2.4.7
pytrends==4.7.3
statsmodels==0.12.2
toml==0.10.2
